/* .images {
    height: 200px;
    width: 300px;
} */
.remove{
    position: relative;
    left:30px;
}
.share{
    position: relative;
    left: 20px;
}
/* .like{
    position: relative;
    bottom: 30px;
    left:100px;
} */
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/