<div class="tynda_song-card" (click)="onNavigateToSong()">
    <div class="tynda_song-card_tumbnail">
        <img [src]=image width="80" alt="thumbnail">
    </div>
    <div class="tynda_song-card_title text-left">{{title}}</div>
    <div class="tynda_song-card_description">{{description}}</div>
</div>
<!-- <div class="card tynda_song-card" style="width: 18rem;">
    <img class="card-img-top" [src]="playlistThumbnail" width="120" alt="thumbail">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->