<div class="container" style="width: 800px;">
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
        <div class="login_container">
            <div class="container mt-5">
                <h4 id="tynda"><b>Tynda</b></h4>
                <hr>
            </div>
            <div>
                <label><strong>Full name</strong></label><br>
                <input [formControl]="fullnameForm" type="tetx" placeholder="Full Name">
            </div>
            <div>
                <label><strong>Email address</strong></label><br>
                <input [formControl]="emailForm" type="email" placeholder="Email address">
            </div>
            <div>
                <label class="mt-2"><strong>Password</strong></label><br>
                <input [formControl]="passwordForm" type="password" placeholder="Password"><br>
                <!-- <label class="mt-3"><a [style.textDecoration]="'underline'"><b>Forgot your password ?</b></a></label> -->
            </div>
            <div id="login-btn">
                <button>SIGN UP</button>
            </div>
        </div>
    </form>
</div>